html,body {
  position: relative;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
.stars {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.star {
  background: #666;
  border-radius: 100%;
}
