html,body {
  position: relative;
  height: 100%;
	width: 100%;
	background: #111;
}
body {
  margin: 0;
}
.stars {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.level {
  height: 100%;
  width: 100%;
}

.star {
  background: #fff;
  border-radius: 100%;
}
